.higher-authorities-holder{
    margin-top: 50vh;
    transform: translateY(-50%);
}
.higher-authorities-header, .higher-authorities-paragraph{
    font-family: sans-serif;
    letter-spacing: 1.5px;
}